.hero-section {
  height: 60vh;
  background-image: url('https://unsplash.com/s/photos/farm%2C-organic');
  background-size: cover;
  background-position: center;
}

.text-truncate-description {
  height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}